body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.my-navbar{
    display: flex;
    justify-content: space-between; 
    padding: 8px;
    align-items: center;

    font-size: 22px;
    color: white;

    
}

.left-items{
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

#add-form{
    max-width: 700px;
    margin: 10px;
}

#add-form-ctnr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn-ctnr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#sign-up-container, #log-in-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up-form, #log-in-form{
    width: 300px;
}